#view-more-button {
	font-size: 1.7vw;
	font-weight: bold;
	background-color: #ffffff;
	padding: 1vw 2vw;
	border-radius: 3vw;
	border: .5vw solid lightblue;
	cursor: pointer;
	box-shadow: 2px 2px 5px black, -2px -2px 5px black;
}