#contact-container {
	width: 100%;
}

#contact-nav-container {
	margin-top: -1.5vw;
	display: flex;
	justify-content: space-between;
}

.contact-introduction-container {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}

#newsletter-container {
	width: 70%;
	margin: 0 auto;
	margin-top: 5vw;
	font-size: 1.4vw;
	text-align: center;
}

#newsletter-container > input {
	margin-top: 1vw;
}

.contact-nav-link {
	text-decoration: none;
	text-align: center;
	align-self: center;
	padding: 2vw;
	width: 20%;
	font-size: 2.3vw;
	border: 1px solid #000000;
	border-radius: 10px 10px 0 0;
	background: grey;
	color: #000000;
}

#contact-nav-container > .active {
	background: white;
	border-bottom: none;
}

.contact-office-container {
	width: 100%;
	background: white;
	color: black;
	padding: 5vw;
}

.contact-office-container > p, .contact-office-container > h2 {
	margin: 0;
}