.login-container, .create-account-container{
	width: 40%;
	padding: 3vw;
	background-color: white;
	display: flex;
	flex-wrap: wrap;
	font-size: 2vw;
	margin-bottom: 5vw;
}

.login-container h2, .create-account-container h2{
	margin-bottom: 2vw;
}

.login-container form, .create-account-container form {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

form > span {
	width: 100%;
	height: 4vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1vw;
}

input {
	width: 60%;
	height: 10px;
	margin: 0;
}

.login-container button {
	width: 100%
}

#login-page-container h3 {
	color: red;
	text-align: center;
}