.open-house-news-container {
	width: 86%;
	margin: 0 auto;
	border-radius: 3vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: orange;
	padding: 2%;
}

.open-house-news-container > h2, .open-house-news-container > p {
	width: 100%;
	text-align: center;
	margin: 0;

}

.open-house-news-container > img {
	width: 44%;
	height: 30vw;
	object-fit: contain;
	text-align: center;
	border: 1px solid black;
	border-radius: 5vw;
	margin: 1vw auto
}